
Estudos/Graduação/ED3/Trabalhos/ExeIntrotudorio/funcoesFornecidas.c
Estudos/Graduação/ED3/Trabalhos/ExeIntrotudorio/.vscode/tasks.json
Estudos/Graduação/ED3/Trabalhos/ExeIntrotudorio/ExeIntrotudorio.layout
Estudos/Graduação/ED3/Trabalhos/ExeIntrotudorio/programa
Estudos/Graduação/ED3/Trabalhos/ExeIntrotudorio/funcoesFornecidas.c
Estudos/Graduação/ED3/Trabalhos/ExeIntrotudorio/funcoesFornecidas.c
Estudos/Graduação/ED3/Trabalhos/ExeIntrotudorio/ExeIntrodutorio.zip
Estudos/Graduação/ED3/Trabalhos/ExeIntrotudorio/makefile
*.zip
*.bin
Estudos/Graduação/ED3/Trabalhos/ExeIntrotudorio/batata
Estudos/Graduação/ED3/Trabalhos/ExeIntrotudorio/batatinha
Estudos/Graduação/ED3/Trabalhos/ExeIntrotudorio/play
Estudos/Graduação/ED3/Trabalhos/ExeIntrotudorio/run
Estudos/Graduação/ED3/Trabalhos/Trabalho01/.vscode/c_cpp_properties.json
Estudos/Graduação/ED3/Trabalhos/Trabalho01/-g
Estudos/Graduação/ED3/Trabalhos/Trabalho01/.vscode/launch.json
Estudos/Graduação/ED3/Trabalhos/Trabalho01/.vscode/settings.json
Estudos/Graduação/ED3/Trabalhos/Trabalho01/.vscode/tasks.json
Estudos/Graduação/ED3/Trabalhos/Trabalho01/.~lock.dados1.csv\#
Estudos/Graduação/ED3/Trabalhos/Trabalho01/;
Estudos/Graduação/ED3/Trabalhos/Trabalho01/dados1.csv
Estudos/Graduação/ED3/Trabalhos/Trabalho01/dados2.csv
Estudos/Graduação/ED3/Trabalhos/Trabalho01/in/1.in
Estudos/Graduação/ED3/Trabalhos/Trabalho_01_ed3-main/out/9.out
/Estudos/Graduação/ED3/Trabalhos/Trabalho_01_ed3-main/out
/Estudos/Graduação/ED3/Trabalhos/Trabalho_01_ed3-main/in
/Estudos/Graduação/ED3/Trabalhos/Trabalho01/in
/Estudos/Graduação/ED3/Trabalhos/Trabalho01/out
Estudos/Graduação/ED3/Trabalhos/Trabalho_01_ed3-main/dados1.csv
Estudos/Graduação/ED3/Trabalhos/Trabalho_01_ed3-main/dados2.csv
Estudos/Graduação/ED3/Trabalhos/Trabalho_01_ed3-main/.vscode/c_cpp_properties.json
Estudos/Graduação/ED3/Trabalhos/Trabalho_01_ed3-main/.vscode/launch.json
Estudos/Graduação/ED3/Trabalhos/Trabalho_01_ed3-main/.vscode/settings.json
Estudos/Graduação/ED3/Trabalhos/Trabalho_01_ed3-main/.vscode/tasks.json
Estudos/Graduação/ED3/Trabalhos/Trabalho_01_ed3-main/.~lock.dados1.csv\#
Estudos/Graduação/ED3/Trabalhos/Trabalho_01_ed3-main/-g
/Estudos/Graduação/ED3/Trabalhos/Trabalho_01_ed3-main
Estudos/Graduação/ED3/Trabalhos/Trabalho01/run
Estudos/Graduação/ED3/Trabalhos/Trabalho01/nome\[10\],
Estudos/Graduação/ED3/Trabalhos/Trabalho01/c
Estudos/Graduação/ED3/Trabalhos/Trabalho01/func (cópia).c
Estudos/Graduação/ED3/Trabalhos/Trabalho01/blocodenotas.txt
Estudos/Graduação/ED3/Trabalhos/BatataFeliz\]/.vscode/settings.json
/Estudos/Graduação/ED3/Trabalhos/BatataFeliz\]/in
/Estudos/Graduação/ED3/Trabalhos/BatataFeliz\]/out
Estudos/Graduação/ED3/Trabalhos/BatataFeliz\]/run
Estudos/Graduação/ED3/Trabalhos/BatataFeliz\]/dados1.csv
Estudos/Graduação/ED3/Trabalhos/BatataFeliz\]/dados2.csv
/Estudos/Graduação/ED3/Trabalhos/in
/Estudos/Graduação/ED3/Trabalhos/out
/Estudos/Graduação/ED3/Trabalhos/BatataFeliz\]/Arq_Entradas
Estudos/Graduação/ED3/Trabalhos/BatataFeliz\]/runnable
/Estudos/Graduação/ED3/Trabalhos/BatataFeliz\]/batata
/Estudos/Graduação/ED3/Trabalhos/TESTE/in
/Estudos/Graduação/ED3/Trabalhos/TESTE/out
Estudos/Graduação/ED3/Trabalhos/Trabalho\!VF/.vscode/settings.json
/Estudos/Graduação/ED3/Trabalhos/Trabalho\!VF/Arq_Entradas
/Estudos/Graduação/ED3/Trabalhos/Trabalho\!VF
Estudos/Graduação/ED3/Trabalhos/TESTE/registro (1).c
Estudos/Graduação/ED3/Trabalhos/TESTE/comandos (1).h
/Estudos/Graduação/ED3/Trabalhos/TESTE
Estudos/Graduação/ED3/Trabalhos/TrabalhoVF/.vscode/settings.json
/Estudos/Graduação/ED3/Trabalhos/TrabalhoVF/Arq_Entradas
/Estudos/Graduação/ED3/Trabalhos/TrabalhoVF/in
/Estudos/Graduação/ED3/Trabalhos/TrabalhoVF/out
Estudos/Graduação/ED3/Trabalhos/TrabalhoVF/Makefile
Estudos/Graduação/ED3/Trabalhos/TrabalhoVF/rascunho.txt
Estudos/Graduação/ED3/Trabalhos/TrabalhoVF/runnable
Estudos/Graduação/ED3/Trabalhos/TrabalhoVF/rno
Estudos/Graduação/ED3/Trabalhos/TrabalhoVF/run
Estudos/Graduação/ED3/Trabalhos/BatataFeliz\]/Makefile
Estudos/Graduação/ED3/Trabalhos/BatataFeliz\]/Makefile
Estudos/Graduação/ED3/Trabalhos/BatataFeliz\]/Makefile
Estudos/Graduação/ED3/Trabalhos/TrabalhoVF/dados1.csv
Estudos/Graduação/ED3/Trabalhos/TrabalhoVF/dados2.csv
Estudos/Graduação/ED3/Trabalhos/TrabalhoVF/comandos.txt
Estudos/Graduação/ED3/Trabalhos/Trabalho2/.vscode/settings.json
/Estudos/Graduação/ED3/Trabalhos/Trabalho2/Arq_Entradas
Estudos/Graduação/ED3/Trabalhos/Trabalho2/arvore.c
Estudos/Graduação/ED3/Trabalhos/Trabalho2/arvore.h
Estudos/Graduação/ED3/Trabalhos/Trabalho2/dados1.csv
Estudos/Graduação/ED3/Trabalhos/Trabalho2/dados2.csv
/Estudos/Graduação/ED3/Trabalhos/Trabalho2/in
/Estudos/Graduação/ED3/Trabalhos/Trabalho2/out
Estudos/Graduação/ED3/Trabalhos/Trabalho2/notas.txt
*.csv
Estudos/Graduação/ED3/Trabalhos/Trabalho2/CPRs-
Estudos/Graduação/ED3/Trabalhos/Trabalho2/CPRs-
Estudos/Graduação/ED3/Trabalhos/Trabalho2/input.txt
Estudos/Graduação/ED3/Trabalhos/Trabalho2/input8.txt
Estudos/Graduação/ED3/Trabalhos/Trabalho2/output.txt
Estudos/Graduação/ED3/Trabalhos/Trabalho2/output82.txt
Estudos/Graduação/ED3/Trabalhos/Trabalho2/P\[i\]
Estudos/Graduação/ED3/Trabalhos/Trabalho2/PR
Estudos/Graduação/ED3/Trabalhos/Trabalho2/runnable
/Graduação/ED3/Trabalho2/out
Graduação/ED3/ExeIntrotudorio/batata
Graduação/ED3/ExeIntrotudorio/.vscode/tasks.json
Graduação/ED3/ExeIntrotudorio/batatinha
Graduação/ED3/ExeIntrotudorio/ExeIntrotudorio.cbp
Graduação/ED3/ExeIntrotudorio/makefile
Graduação/ED3/ExeIntrotudorio/play
Graduação/ED3/ExeIntrotudorio/programa
Graduação/ED3/ExeIntrotudorio/run
Graduação/ED3/Trabalho2/.vscode/settings.json
Graduação/ED3/Trabalho2/.vscode/tasks.json
Graduação/ED3/Trabalho2/in/1.in
/Graduação/ED3/Trabalho2/in
Graduação/ED3/Trabalho2/Makefile
Graduação/ED3/Trabalho2/output82.txt
Graduação/ED3/Trabalho2/runnable
Graduação/ED3/Trabalhos/ExeIntrotudorio/.vscode/tasks.json
Graduação/ED3/Trabalhos/ExeIntrotudorio/batata
Graduação/ED3/Trabalhos/ExeIntrotudorio/batatinha
Graduação/ED3/Trabalhos/ExeIntrotudorio/.vscode/tasks.json
Graduação/ED3/TrabalhoVF/.vscode/settings.json
Graduação/ED3/TrabalhoVF/comandos.txt
Graduação/ED3/TrabalhoVF/in/1.in
Graduação/ED3/TrabalhoVF/in/10.in
/Graduação/ED3/TrabalhoVF/in
/Graduação/ED3/TrabalhoVF/out
Graduação/ED3/TrabalhoVF/rno
Graduação/ED3/TrabalhoVF/run
Graduação/ED3/TrabalhoVF/runnable
Graduação/ED3/ExeIntrotudorio/ExeIntrotudorio.layout
