### --- Pastas de Ambiente Virtual (Python) ---
venv/
.venv/
myenv/
env/
__pycache__/
*.pyc

### --- IDEs e Editores ---
.vscode/
.idea/
*.layout
*.cbp
.ipynb_checkpoints/

### --- Binários e Executáveis ---
*.out
*.bin
*.exe
*.o
programa
run
runnable
play
batata
batatinha
rno
makefile
Makefile
*requirements.txt

### --- Dados e Arquivos Temporários ---
*.csv
*.zip
*.nc
*.pdf
*.idx
*.~lock.*
__MACOSX/

### --- Pastas Específicas de Trabalhos (Input/Output) ---
**/in/
**/out/
**/Arq_Entradas/
**/build/

### --- Casos Específicos da sua lista ---
USP/bin/
USP/lib/
USP/lib64/
USP/pyvenv.cfg